@import "tailwindcss";

@font-face {
  font-family: 'Nohemi';
  src: url('https://fonts.cdnfonts.com/s/91271/Nohemi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('https://fonts.cdnfonts.com/s/91271/Nohemi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('https://fonts.cdnfonts.com/s/91271/Nohemi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Nohemi', system-ui, sans-serif;
  background: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}
